<!--
#Листинг 4.6: Home-страница без индивидуального заголовка страницы. ЗЕЛЕНЫЙ app/views/static_pages/home.html.erb
Листинг 5.2: Home-страница со ссылкой на страницу регистрации. app/views/static_pages/home.html.erb 
-->

<h1>ruby '2.5.7'  branch master agile-ravine-57007.git</h1>
    <p>
<div class="center jumbotron">
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>
<h1>No ~/ch09_updating-users branch master<p>
 ~/ch08_log-in-log-out xgbua_march02</h1>
</p>
<%= link_to image_tag("241084701.gif", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
